{%load static%}
<html>
<head>

  <meta charset="utf-8">

  <title>登录页面</title>

  <link rel="stylesheet" href={% static '/layui/css/layui.css' %}>

<style>

.page{

    width: 400px;

    position: absolute;

    margin-left: -200px;

    margin-top: -150px;

    top: 50%;

    left: 50%;

    display: block;

    z-index: 2000;

    background: #ffffff;

    padding: 20px;

}

</style>

</head>

<body style="background: #f1f1f1;">
    <div class="page"><!-- 登录页面区域的div-->

        <div align="center">
         <h1>欢迎登录</h1>
        </div>
        <!-- 登录表单 -->
        <form  class="layui-form" method="post">

            <div class="layui-form-item" style="margin-right: 100px;margin-top: 20px;">

                <label class="layui-form-label">用户名：</label>

                <div class="layui-input-block">

                    <input type="text" name="name" required  lay-verify="required|email" placeholder="请输入用户名" autocomplete="off" class="layui-input">

                </div>

             </div>

            <div class="layui-form-item" >

                <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>

                <div class="layui-input-inline">

                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">

                </div>

            </div>


           <div class="layui-form-item">

               <label class="layui-form-label">验证码：</label>

                 <div class="layui-input-inline">

                     <input type="text" required lay-verify="required" name="check_code" id="check_code" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                     <img id="check_code_img" src="/create_code_img/" onclick="refresh_check_code(this)">
                 </div>

            </div>


            <br>
            <!-- 返回登录的状态信息显示 -->
            <p align="center">
                <font color="red">
                    <!-- 显示信息代码位置 -->
                    {{ msg }}
                </font>
            </p>
            <br>
            <div class="layui-form-item">

                <div style="text-align: center;">

                    <input type="submit" class="layui-btn"  value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录"/>

                </div>

            </div>

            <br/>
            <p  align="center">
                <!-- 超链接跳转到注册页面 -->
                <a href="{% url 'regist' %}">
                    <font color="blue">还没有账号？立即注册</font>
                </a>
            </p>
            <p  align="right">
                <a href="{% url 'password_reset' %}">
                    <font color="blue">找回密码</font>
                </a>
            </p>

        </form>

    </div>
    <script type="text/javascript">

       function refresh_check_code(ths) {
          ths.src += '?';
            {# src后面加问好会自动刷新验证码img的src#}
         }

    </script>
</body>

</html>