<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>主页面</title>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script src="/static/layui/layui.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
<style>

    .page{

        width: 400px;

        position: absolute;

        margin-left: -220px;

        margin-top: -250px;

        top: 70%;

        left: 50%;

        display: block;

        z-index: 2000;

        background: #ffffff;

        padding: 20px;

    }
</style>
</head>
<body onload="loadSelect();">

    <div class="layui-container">
        <!--水平导航栏-->
        <ul class="layui-nav layui-bg-cyan">
            <li class="layui-nav-item">
                <a href="{% url 'main' %}">全国气象展示</a>
            </li>

            <li class="layui-nav-item">
                <a href="{% url 'search' %}">气象数据搜索展示</a>
            </li>
            <li class="layui-nav-item">
                <a href="{% url 'search' %}">近7日天气状况统计</a>
            </li>

            <li class="layui-nav-item">
                <a href="{% url 'max_temp_state' %}">全国地区最高温度</a>
            </li>

            <li class="layui-nav-item">
                <a href="{% url 'chinaMap' %}">全国天气展示</a>
            </li>

            <li class="layui-nav-item">
                <a onclick="SCity()">城市天气预报</a>
            </li>


            {% if request.session.username %}
                <li class="layui-nav-item" lay-unselect lay-bar="disabled">
                      欢迎,{{ request.session.username }}
                </li>

                <li class="layui-nav-item">
                    <a href="/modPassword">修改密码</a>
                </li>

                <li class="layui-nav-item layui-layout-right">
                    <a href="/logout">登出</a>
                </li>

            {% else %}
                <li class="layui-nav-item layui-layout-right">
                    <a href="/"> 登录</a>
                </li>
            {% endif %}
        </ul>
        <br>
        <!-- 搜索框显示：行内表单 -->
        <div class="layui-form-item">
    <br><br>

  </div>
        <!-- 表格显示搜索数据 -->
        <table class="layui-hide" lay-type="post" id="tableData"></table>

    </div>.
    <div class="page">
        <form  class="layui-form" method="post">

        <div class="layui-form-item" style="margin-right: 100px;margin-top: 20px;">

            <div class="layui-input-block">

                <input hidden type="text" name="name" required value="{{ request.session.username }}">

            </div>

         </div>

        <div class="layui-form-item" >

            <label class="layui-form-label">原&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>

            <div class="layui-input-inline">

                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">

            </div>

        </div>

        <div class="layui-form-item" >

            <label class="layui-form-label">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>

            <div class="layui-input-inline">

                <input type="password" name="newpassword" required lay-verify="required|pass" placeholder="请输入新密码" autocomplete="off" class="layui-input">

            </div>

        </div>

        <div class="layui-form-item" >

            <label class="layui-form-label">确&nbsp;认&nbsp;密&nbsp;码：</label>

            <div class="layui-input-inline">

                <input type="password" name="newrepeatpwd" required lay-verify="required" placeholder="请重复输入密码" autocomplete="off" class="layui-input">

            </div>

        </div>


        <br><!-- 返回修改结果信息的显示区域 -->
            <p align="center">
                <font color="red">
                    <!-- 注册失败显示代码 -->
                    {{ msg }}
                </font>
            </p>
        <br>
        <div class="layui-form-item">

            <div style="text-align: center;">

                <input type="submit" class="layui-btn" lay-submit="" value="修&nbsp;&nbsp;改&nbsp;&nbsp;密&nbsp;&nbsp;码"/>

            </div>
        </div>
    </form>
    </div>


    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function(){

            var form = layui.form;

            form.verify({
                pass: [
                  /^[\S]{6,12}$/
                  ,'密码必须6到12位，且不能出现空格'
                ]
            });

        });
    </script>


</body>
</html>