<html>
<head>
  <meta charset="utf-8">
  <title>重置密码</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<style>

    .page{

        width: 400px;

        position: absolute;

        margin-left: -220px;

        margin-top: -250px;

        top: 50%;

        left: 50%;

        display: block;

        z-index: 2000;

        background: #ffffff;

        padding: 20px;

    }
</style>

</head>

<body style="background: #f1f1f1;">

    <div class="page"><!-- 注册页面区域的div -->

        <div align="center">
         <h1>重置密码</h1>
        </div>
        <!-- 注册表单（layui的表单） -->
        <form  class="layui-form" method="post">



            <div class="layui-form-item" >

                <label class="layui-form-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>

                <div class="layui-input-inline">

                    <input type="text" name="email" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                <span class="input-group-btn">
                        <button class="btn btn-default input-bigger" type="button" id="get_verify_code"  style="font-size: 14px">发送验证码</button>
                        </span>
                </div>

            </div>
            <div class="layui-form-item" >

                <label class="layui-form-label">验&nbsp;&nbsp;证&nbsp;码：</label>

                <div class="layui-input-inline">

                    <input type="text" name="code" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item" >

                <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>

                <div class="layui-input-inline">

                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">

                </div>

            </div>
            <br><!-- 返回注册失败信息的显示区域 -->
                <p align="center">
                    <font color="red">
                        <!-- 注册失败显示代码 -->
                        {{ msg }}
                    </font>
                </p>
            <br>
            <div class="layui-form-item">

                <div style="text-align: center;">

                    <input type="submit" class="layui-btn"  value="重&nbsp;置&nbsp;密&nbsp;码"/>

                </div>

            </div>

            <br/>
        </form>
    </div>

<script type="text/javascript">
            function settime(val, countdown) {
            if (countdown === 0) {
                $(val).removeAttr("disabled");
                $(val).text('发送验证码');
                return;
            } else {
                $(val).attr("disabled", true);
                $(val).text("重新发送(" + countdown + ")S");
                countdown--;
            }
            setTimeout(function () {
                settime(val, countdown)
            }, 1000);
        }
        $("#get_verify_code").click(function () {
        var email = $("input[name='email']").val();
                    var that = $(this);
            $.ajax({
                url: '{% url "get_verify_code" %}',
                type: 'POST',
                data: {'email': email},
            })
                .done(function (result) {
                    console.log(result)
                    var status = result['status'];
                    var time_remain = result['time_remain'];
                    console.log(result['status']);
                    if (status === "success") {
                        console.log();
                        alert('验证码发送成功');
                        settime(that, time_remain);
                    }
                    else {
                        alert('邮箱错误')
                        settime(that, 0);
                    }
                })
                .fail(function () {
                    console.log("error");
                })
                .always(function () {
                    {#            console.log("complete");#}
                });
        });
</script>
</body>
</html>


